# ----------------------------
# Terraform
# ----------------------------

# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files (local only)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock info file (ephemeral)
.terraform.tfstate.lock.info
.terraform.lock.hcl
# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore terraform plan output
*tfplan*
tf_outputs.json
# ----------------------------
# AWS CLI & credentials
# ----------------------------
# AWS credentials/config (never commit your keys)
.aws/

# ----------------------------
# SSH keys
# ----------------------------
*.pem
*.pub
id_rsa*
id_ed25519*

# ----------------------------
# Ansible
# ----------------------------
# Ansible inventory and host_vars/group_vars with secrets
/infra/ansible/environments/

# Kubeconfig files
/infra/.kubeconfigs/

# Vault password file
*.vault_pass

# Local retry files
*.retry

# ----------------------------
# Other common system files
# ----------------------------
.DS_Store
Thumbs.db

venv/
/src/app/__pycache__
*.pyc
