repositories:
  - name: kubernetes-dashboard
    url: https://kubernetes.github.io/dashboard/

releases:
  - name: kubernetes-dashboard
    namespace: kubernetes-dashboard
    createNamespace: true
    chart: kubernetes-dashboard/kubernetes-dashboard
    version: 7.13.0
    values:
      - ./config/dashboard.yaml

  - name: flask-app
    namespace: aws-selfhosted 
    createNamespace: true
    chart: ../../charts/flask-app  
    values:
      - ./config/flask-app.yaml