apiVersion: v1
kind: Config
clusters:
- cluster:
    server: https://{{ hostvars['master'].ansible_host }}:6443
    certificate-authority-data: {{ lookup('file', kubeconfig_path) | from_yaml | json_query('clusters[0].cluster."certificate-authority-data"') }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: kubernetes-dashboard
    user: admin-{{ project_env }}
  name: admin-{{ project_env }}@kubernetes
current-context: admin-{{ project_env }}@kubernetes
users:
- name: admin-{{ project_env }}
  user:
    token: {{ admin_sa_token }}
